<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/items"
      >QuickBuy<i class="fa-solid fa-truck-fast"></i></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/items">Home</a>
        <a class="nav-link" href="#">Message</a>
        <a class="nav-link" href="/items/item"
          ><i class="fa-solid fa-plus"></i> Sell</a
        >
      </div>
    </div>
  </div>
</nav>

