body {
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 4rem;
}

.nav-link {
  color: #222222 !important;
}

.navbar-brand {
  color: #002f34 !important;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Cards */
.card {
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0.5rem;
}

.card-image {
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.item-link {
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  text-decoration: none;
}

.index-price {
  font-size: 20px !important;
  font-weight: 650 !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  padding-top: 13px;
  margin-bottom: 0;
}

/*New Page Item  */
h4 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  color: #002f34 !important;
}

.back {
  height: 70px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f8f9fa;
}

.item {
  text-decoration: none;
  border-top: 1px solid rgb(216, 212, 212);
  color: gray;
  padding-bottom: 10px;
  padding-top: 10px;
}

.item:hover {
  color: black;
  background-color: #ebebeb;
}

.allitem {
  border: 1px solid rgb(216, 212, 212);
  margin-bottom: 30px;
  width: 400px;
  border-radius: 5px;
}

.centre {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
}

#category-text {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #002f34;
}

/* New Page */
.item-info {
  border: 1px solid rgb(216, 212, 212);
  margin-bottom: 30px;
  width: 850px;
  border-radius: 5px;
}

.text-color {
  color: #002f34 !important;
}

.validate {
  color: red;
}

textarea {
  resize: none !important;
}

.change {
  color: #002f34;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  padding-left: 16px;
}

.change:hover {
  text-decoration: none;
}

.select {
  font-size: 20px;
  font-weight: 750;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  padding: 17px;
  margin-left: 6px;
}

.input {
  margin-left: 25px;
}

.include {
  font-size: 20px;
  font-weight: 750;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  padding-top: 25px;
  margin-left: 25px;
}

.form-control {
  width: 430px !important;
  color: #002f34 !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
}

.btn-check {
  color: #002f34 !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
}

.label-text {
  color: #002f34 !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
}

.radio-button {
  border: 1px solid rgb(216, 212, 212) !important;
}

.radio-button:hover {
  background-color: #e0ffff !important;
  border-color: rgb(216, 212, 212) !important;
}

.radio-button {
  border-color: rgb(216, 212, 212) !important;
  margin-right: 5px !important;
}

input[type="radio"]:checked + label {
  background-color: #e0ffff !important;
  border-color: #002f34 !important;
}

.hr {
  background-color: rgb(216, 212, 212);
  height: 0.9px;
}

.btn-post {
  color: #002f34 !important;
  border-color: rgb(216, 212, 212) !important;
  font-weight: 900 !important;
  height: 50px !important;
}

.btn-post:hover {
  color: white !important;
  background-color: #002f34 !important;
}

.new-change {
  margin-bottom: 25px;
  margin-left: 7px;
}

/* Show  Car Page */
.card-show {
  height: 66vh !important;
  background-color: black !important;
  padding: 0 !important;
  margin-bottom: 41px !important;
}

.show-image {
  height: 100%;
  width: 100%;
  object-fit: contain !important;
}

.card-item-left {
  margin-left: 57px !important;
  padding-top: 20px;
  padding-left: 23px !important;
  border: none !important;
  width: 790px !important;
  margin-bottom: 14px !important;
}

.card-item-right {
  padding-top: 20px;
  padding-left: 23px !important;
  border: none !important;
  margin-left: 6px !important;
  margin-bottom: 14px !important;
  width: 392px !important;
  padding-right: 23px !important;
}

.item-title {
  font-size: 24px;
  font-weight: 750;
  color: #002f34;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.fog {
  color: #5f797c;
}

.fa-regular,
.fa-location-dot {
  font-size: 26px;
}

.btn-offer {
  color: white !important;
  background-color: #002f34 !important;
  font-weight: 900 !important;
  height: 50px !important;
}

.blur {
  color: #406367;
}

.size {
  font-size: 12px !important;
}

.show-description {
  font-family: "Roboto", sans-serif !important;
  color: #406367;
  font-size: 16px !important;
}

.overview-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.show-item {
  display: flex;
  align-items: center;
}

.show-icon {
  margin-left: 120px;
}

.fa-regular,
.fa-location-dot {
  margin-right: 8px;
  font-size: 24px;
}

.text-column {
  display: flex;
  flex-direction: column;
}

.text-title {
  font-size: 14px;
  color: #406367;
}

.text-value {
  font-size: 18px;
  color: #002f34;
  font-weight: bold;
}

/* Show Mobile Page */

.mobile-image {
  margin-left: 31px !important;
  height: 66vh !important;
  background-color: black !important;
  padding: 0 !important;
  width: 832px !important;
}

.mobile-right {
  width: 392px !important;
  height: 140px !important;
}

.car-price {
  font-size: 45px;
}

.mobile-price {
  font-size: 34px;
  padding-top: 13px;
}

.mobile-right-1 {
  padding-left: 23px !important;
  width: 392px !important;
  height: 140px !important;
}

.mobile-right-2 {
  padding-left: 23px !important;
  width: 392px !important;
  height: 140px !important;
  padding-right: 20px !important;
}

.mobile-right-3 {
  padding-left: 23px !important;
  width: 392px !important;
  height: 90px !important;
}

.mobile-left {
  margin-left: 31px !important;
  padding-top: 20px;
  padding-left: 23px !important;
  width: 832px !important;
}

.mobile-top {
  padding-top: 13px;
}

/* Show Bike Page */

.brand {
  font-size: 14px;
}

.brand-value {
  font-size: 14px;
}

.year-value {
  margin-left: 133px;
}

.driven {
  margin-left: 175px;
}

.driven-value {
  margin-left: 103px;
}
