<% layout("/layouts/boilerplate.ejs") %>
<style>
  .navbar {
    display: none;
  }
</style>
  <body>
    <div class="back"></div>
    <h4>POST YOUR AD</h4>
    <div class="centre">
    <div class="row allitem"> 
    <% if(id=="Mobiles"){ %>
      <b id="category-text">Mobiles</b>
      <a href="/items/Mobile phones/new" class="item">Mobile phones</a>
      <a href="/items/Tablets/new"  class="item">Tablets</a>
      <a href="/items/Accessories/new"  class="item"> Accessories</a>
    <% } %> <% if(id=="Bikes"){ %>
      <b id="category-text">Bikes</b>
    <a href="/items/Motorcycles/new" class="item">Motorcycles </a>
    <a href="/items/Scooters/new" class="item">Scooters</a>
    <a href="/items/Bicycles/new" class="item"> Bicycles</a>
    <a href="/items/Spare Parts/new" class="item"> Spare Parts</a>
    <% } %><% if(id=="Fashion"){ %>
      <b id="category-text">Fashion</b>
    <a href="/items/Men/new" class="item">Men </a>
    <a href="/items/Women/new" class="item">Women</a>
    <a href="/items/Kids/new" class="item">Kids</a>
    <% } %> <% if(id=="Furniture"){ %>
      <b id="category-text">Furniture</b>
    <a href="/items/Sofa & Dining/new" class="item">Sofa & Dining </a>
    <a href="/items/Beds & Wardrobes/new" class="item">Beds & Wardrobes</a>
    <a href="/items/Home Decor & Garden/new" class="item"> Home Decor & Garden</a>
    <a href="/items/Kids Furniture/new" class="item"> Kids Furniture</a>
    <a href="/items/Other Household Items/new" class="item"> Other Household Items</a>
    <% } %> <% if(id=="Electronics & Application"){ %>
      <b id="category-text">Electronics & Application</b>
    <a href="/items/TVs, Video-Audio/new" class="item">TVs, Video-Audio </a>
    <a href="/items/Kitchen & Other Appliances/new" class="item">Kitchen & Other Appliances</a>
    <a href="/items/Computers & Laptops/new" class="item"> Computers & Laptops</a>
    <a href="/items/Fridges/new" class="item"> Fridges </a>
    <a href="/items/Computer Accessories/new" class="item"> Computer Accessories</a>
    <a href="/items/Cameras & Lenses/new" class="item">Cameras & Lenses </a>
    <a href="/items/Games & Entertainment/new" class="item">Games & Entertainment</a>
    <a href="/items/Hard Disks, Printers & Monitors/new" class="item"> Hard Disks, Printers & Monitors</a>
    <a href="/items/Washing Machines/new" class="item"> Washing Machines</a>
    <a href="/items/ACs/new" class="item"> ACs</a>
    <% } %> <% if(id=="Cars"){ %>
      <b id="category-text">Cars</b>
    <a href="/items/Cars/new" class="item">Cars </a>
    <% } %>
  </div>
</div>
</div>
  </body>

