<% layout("/layouts/boilerplate.ejs") %>
<style>
  .navbar {
    display: none;
  }
</style>
  <body>
    <div class="back"></div>
    <h4>POST YOUR AD</h4>
    <div class="centre">
    <div class="row allitem"> 
    <% if(id=="mobile"){ %>
      <b id="category-text">Mobiles</b>
      <a href="/items/mobile/new" class="item">Mobile phones</a>
      <a href="/items/mobile/new"  class="item">Tablets</a>
      <a href="/items/electronic/new"  class="item"> Accessories</a>
    <% } %> <% if(id=="bike"){ %>
      <b id="category-text">Bikes</b>
    <a href="/items/bike/new" class="item">Motorcycles </a>
    <a href="/items/bike/new" class="item">Scooters</a>
    <a href="/items/mobile/new" class="item"> Bicycles</a>
    <a href="/items/electronic/new" class="item"> Spare Parts</a>
    <% } %><% if(id=="fashion"){ %>
      <b id="category-text">Fashion</b>
    <a href="/items/electronic/new" class="item">Men </a>
    <a href="/items/electronic/new" class="item">Women</a>
    <a href="/items/electronic/new" class="item"> Kids</a>
    <% } %> <% if(id=="furniture"){ %>
      <b id="category-text">Furniture</b>
    <a href="/items/electronic/new" class="item">Sofa & Dining </a>
    <a href="/items/electronic/new" class="item">Beds & Wardrobes</a>
    <a href="/items/electronic/new" class="item"> Home Decor & Garden</a>
    <a href="/items/electronic/new" class="item"> Kids Furniture</a>
    <a href="/items/electronic/new" class="item"> Other Household Items</a>
    <% } %> <% if(id=="electronic"){ %>
      <b id="category-text">Electronics & Appliances</b>
    <a href="/items/electronic/new" class="item">TVs, Video-Audio </a>
    <a href="/items/electronic/new" class="item">Kitchen & Other Appliances</a>
    <a href="/items/electronic/new" class="item"> Computers & Laptops</a>
    <a href="/items/electronic/new" class="item"> Fridges </a>
    <a href="/items/electronic/new" class="item"> Computer Accessories</a>
    <a href="/items/electronic/new" class="item">Cameras & Lenses </a>
    <a href="/items/electronic/new" class="item">Games & Entertainment</a>
    <a href="/items/electronic/new" class="item"> Hard Disks, Printers & Monitors</a>
    <a href="/items/electronic/new" class="item"> Washing Machines</a>
    <a href="/items/electronic/new" class="item"> ACs</a>
    <% } %> <% if(id=="car"){ %>
      <b id="category-text">Cars</b>
    <a href="/items/car/new" class="item">Cars </a>
    <% } %>
  </div>
</div>
</div>
  </body>

