<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuickBuy</title>
  </head>
  <body>
    <% if(id=="mobile"){ %>
    <h3>Mobiles</h3>
    <li><a href="/items/mobile/new">Mobile phones</a></li>
    <li><a href="/items/mobile/new">Tablets</a></li>
    <li><a href="/items/electronic/new"> Accessories</a></li>
    <% } %> <% if(id=="bike"){ %>
    <h3>Bikes</h3>
    <li><a href="/items/bike/new">Motorcycles </a></li>
    <li><a href="/items/bike/new">Scooters</a></li>
    <li><a href="/items/mobile/new"> Bicycles</a></li>
    <li><a href="/items/electronic/new"> Spare Parts</a></li>
    <% } %><% if(id=="fashion"){ %>
    <h3>Fashion</h3>
    <li><a href="/items/electronic/new">Men </a></li>
    <li><a href="/items/electronic/new">Women</a></li>
    <li><a href="/items/electronic/new"> Kids</a></li>
    <% } %> <% if(id=="furniture"){ %>
    <h3>Furniture</h3>
    <li><a href="/items/electronic/new">Sofa & Dining </a></li>
    <li><a href="/items/electronic/new">Beds & Wardrobes</a></li>
    <li><a href="/items/electronic/new"> Home Decor & Garden</a></li>
    <li><a href="/items/electronic/new"> Kids Furniture</a></li>
    <li><a href="/items/electronic/new"> Other Household Items</a></li>
    <% } %> <% if(id=="electronic"){ %>
    <h3>Electronics & Appliances</h3>
    <li><a href="/items/electronic/new">TVs, Video-Audio </a></li>
    <li><a href="/items/electronic/new">Kitchen & Other Appliances</a></li>
    <li><a href="/items/electronic/new"> Computers & Laptops</a></li>
    <li><a href="/items/electronic/new"> Fridges </a></li>
    <li><a href="/items/electronic/new"> Computer Accessories</a></li>
    <li><a h ref="/items/electronic/new">Cameras & Lenses </a></li>
    <li><a href="/items/electronic/new">Games & Entertainment</a></li>
    <li>
      <a href="/items/electronic/new"> Hard Disks, Printers & Monitors</a>
    </li>
    <li><a href="/items/electronic/new"> Washing Machines</a></li>
    <li><a href="/items/electronic/new"> ACs</a></li>
    <% } %> <% if(id=="car"){ %>
    <h3>Cars</h3>
    <li><a href="/items/car/new">Cars </a></li>
    <% } %>
  </body>
</html>
