<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuickBuy</title>
  </head>
  <body>
    <li><a href="/items/car/attribute">Cars</a></li>
    <li><a href="/items/mobile/attribute">Mobiles</a></li>
    <li><a href="/items/bike/attribute">Bikes</a></li>
    <li><a href="/items/electronic/attribute">Electronics & Application</a></li>
    <li><a href="/items/fashion/attribute">fashion</a></li>
    <li><a href="/items/furniture/attribute">Furniture</a></li>
  </body>
</html>
