<% layout("/layouts/boilerplate.ejs") %>
<style>
  .navbar {
    display: none;
  }
</style>
<body>
  <div class="back"></div>
  <h4>POST YOUR AD</h4>
  <div class="centre">
    <div class="row allitem">
      <b id="category-text">CHOOSE A CATEGORY</b>
      <a href="/items/Cars/attribute" class="item"
        ><i class="fa-solid fa-car"></i
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cars</a
      >
      <a href="/items/Mobiles/attribute" class="item"
        ><i class="fa-solid fa-mobile-screen-button"></i
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobiles</a
      >
      <a href="/items/Bikes/attribute" class="item"
        ><i class="fa-solid fa-motorcycle"></i
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bikes</a
      >
      <a href="/items/Electronics & Application/attribute" class="item"
        ><i class="fa-solid fa-display"></i
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Electronics & Application</a
      >
      <a href="/items/Fashion/attribute" class="item"
        ><i class="fa-solid fa-shirt"></i
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fashion</a
      >
      <a href="/items/Furniture/attribute" class="item"
        ><i class="fa-solid fa-couch"></i
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Furniture</a
      >
    </div>
  </div>
</body>
