<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuickBuy</title>
  </head>
  <body>
    <h3>Include some details</h3>
    <% if(id=="car" || id=="bike"){ %>
    <form method="POST" action="/items">
      <input name="car[brand]" placeholder="Brand *" type="text" />
      <br /><br />
      <input name="car[model]" placeholder="Model *" type="text" />
      <br /><br />
      <% if(id=="car"){ %>
      <input name="car[variant]" placeholder="Variant *" type="text" />
      <br /><br />
      <% } %>
      <input name="car[year]" placeholder="Year *" type="number" />
      <br /><br />
      <% if(id=="car"){ %>
      <label for="car[fuel]">Fuel *</label>
      <select name="car[fuel]">
        <option value="cng">CNG & Hybrids</option>
        <option value="diesel">Diesel</option>
        <option value="electric">Electric</option>
        <option value="lpg">LPG</option>
        <option value="petrol">Petrol</option>
      </select>
      <br /><br />
      Transmission
      <br />
      <input
        name="car[transmission]"
        placeholder="transmission"
        type="radio"
        value="automatic"
      />
      <label for="car[automatic]">Automatic</label>
      <input
        name="car[transmission]"
        placeholder="transmission"
        type="radio"
        value="manual"
      />
      <label for="car[manual]">Manual</label>
      <br /><br />
      <% } %>
      <input name="car[driven]" placeholder="KM driven " type="number" />
      <br /><br />
      <% if(id=="car"){ %>
      <input name="car[owners]" placeholder="No. of Owners" type="number" />
      <br /><br />
      <% } %>
      <textarea
        name="car[description]"
        placeholder="Describe what you are selling *"
      ></textarea>
      <br /><br />
      <input name="car[image]" placeholder="image link *" type="text" />
      <br /><br />
      <input name="car[price]" placeholder="Price *" type="number" />
      <br /><br />
      <input name="car[location]" placeholder="Location *" type="text" />
      <br /><br />
      <button>Post Now</button>
    </form>
    <% } %> <% if(id=="mobile" || id=="electronic"){ %>
    <form method="POST" action="/items">
      <% if(id=="mobile") {%>
      <input name="mobile[brand]" placeholder="Brand *" type="text" />
      <br /><br />
      <% } %>
      <input name="mobile[title]" placeholder="Ad title *" type="text" />
      <br /><br />
      <textarea
        name="mobile[description]"
        placeholder="Describe what you are selling *"
      >
      </textarea>
      <br /><br />
      <input name="mobile[image]" placeholder="image link *" type="text" />
      <br /><br />
      <input name="mobile[price]" placeholder="Price *" type="number" />
      <br /><br />
      <input name="mobile[location]" placeholder="Location *" type="text" />
      <br /><br />
      <button>Post Now</button>
    </form>
    <% } %>
  </body>
</html>
